table {
  width: 100%;
  border-collapse: collapse;
}
caption {
  text-align: left;
  margin: 0 0 0.5rem 0;
}

thead {
}

tbody {
}

tr {
}

thead > tr {
  border-bottom: 1px solid #ccc;
}
tbody > tr:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

td,
th {
  text-align: left;
  padding: 4px;
  border: 0px solid #ccc;
}

th {
  font-weight: bold;
}

td {
}
