table {
  width: 100%;
  border-collapse: collapse;
}
table.debug td,
table.debug th {
  border: 1px solid red;
}

caption {
  text-align: left;
  margin: 0 0 0.8rem 0;
  text-transform: uppercase;
}

thead {
}

tbody {
}

tr {
}

thead > tr.header-row {
  border-bottom: 1px solid #ccc;
}

tbody > tr:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

td,
th {
  text-align: left;
  padding: 8px 4px;
  border: 0px solid #ccc;
}

th {
  font-weight: bold;
  user-select: none;
}

th .header-cell-wrapper {
  display: flex;
  align-items: center;
}
.header-cell-wrapper.cell-date,
.header-cell-wrapper.cell-money,
.header-cell-wrapper.cell-number {
  justify-content: flex-end;
}
.header-cell-wrapper.cell-align-center {
  justify-content: center;
}

th .header-cell-label {
  margin-right: 4px;
}

td {
}
th.cell-string,
td.cell-string {
}
th.cell-money,
td.cell-money {
  text-align: right;
}
th.cell-date,
td.cell-date {
  text-align: right;
}
th.cell-number,
td.cell-number {
  text-align: right;
}
td.cell-align-center {
  text-align: center;
}

.sorter {
  display: flex;
  flex-direction: column;
}
.sorter svg {
  display: block;
  margin: 0;
  padding: 1px;
}
.sorter svg:hover {
  display: block;
  margin: 0;
}
.sorter-asc,
.sorter-desc {
  border: 1px solid transparent;
  cursor: pointer;
}
.sorter-asc:hover,
.sorter-desc:hover {
  background: #ddd;
}

.filter {
  display: flex;
  align-items: center;
}
.filter-input {
}
.filter-counts {
  margin-left: 8px;
  font-weight: initial;
  font-style: italic;
  font-size: 0.9em;
}

.paging {
  display: flex;
  align-items: center;
}
.paging-controls {
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.paging-total-records {
  margin-right: 12px;
}
.paging-page {
  margin: 0 4px;
}
.paging-button {
  font-size: 1rem;
  border: 0;
  border-radius: 0;
  margin: 4px;
  padding: 4px;
}
